<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% include 'css.html' %}
    <title>Form</title> 
</head>
 
<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-xs-6 col-6">
                     <a href="#" class="logo">
                        <img src="images/logo.png" alt="">
                    </a>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12 d-flex align-items-center justify-content-between mob_menu">
                    <ul class="nav">
                        <li class="active"><a href="#">Товары и услуги</a></li>
                        <li><a href="#">Закупки</a></li>
                        <li><a href="#">Продавцы</a></li>
                        <li><a href="#">Покупатели</a></li>
                    </ul>
                    <a href="#" class="add_advert"><img src="images/plus_circle.png" alt="">Добавить объявление</a>
                    <a href="#" class="add_advert"><img src="images/user.png" alt="">Вход / Регистрация</a>
                </div>
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </header>
    <div class="add_plus">
        <div class="container">
            <div class="links_top">
                <a href="index.html">Главная</a>
                <a href="#">Профиль пользователя</a>
            </div>
            <div class="d-flex justify-content-between alfon">
                <div class="univ d-flex align-items-center">
                    <div class="img_un">
                        <img src="images/logo_user.png" alt="">
                    </div>
                    <div class="text_un">
                        <h1>Universal Texnika HK</h1>
                        <p>Руслан Хасанов</p>
                        <a href="#">Изменить данные</a>
                    </div>
                </div>
                <div class="schet">
                    <p>Ваш счет:<b> 18000 сум</b></p>
                    <a href="#" class="popol"><img src="images/plus_circle.png" alt="">Пополнить</a>
                </div>

            </div>
        </div>
    </div>
    <div class="placing">
        <div class="container">
            <h1>Размещмение товара или услуги</h1>
            <div class="row">
                <div class="col-lg-6 col-md-12 top_form">
                    <div class="form_group d-flex justify-content-between">
                        <label for="">Выберите категорию <span>*</span></label>
                        <select name="" id=""  data-toggle="tooltip" data-placement="right" title="Информационное сообщение с подсказкой будет выводится во всплывающем блоке типа tooltip. И поможет пользователю сориентироваться с полями.">
                            <option value="">Выбрать </option>
                            <option value="">Выбрать 2</option>
                        </select>
                    </div>
                    <div class="form_group d-flex justify-content-between">
                        <label for="">Город или Регион <span>*</span></label>
                        <input type="text" value="Ташкентская область">
                    </div>
                    <div class="form_group d-flex justify-content-between">
                        <label for="">Тип объявления <span>*</span></label>
                        <select name="" id="">
                            <option value="">Выбрать</option>
                            <option value="">Выбрать 2</option>
                        </select>
                    </div>

                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <div class="form_group">
                        <label for="">Заголовок объявления <span>*</span></label>
                        <input type="text">
                    </div>
                    <div class="row">
                        <div class="col-xl-4 col-lg-6">
                            <div class="form_group">
                                <label for="">Состояние</label>
                                <select name="" id="">
                                    <option value="">Выбрать </option>
                                    <option value="">Выбрать 2</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6">
                            <div class="form_group">
                                <label for="">Частное лицо/Бизнес</label>
                                <select name="" id="">
                                    <option value="">Выбрать </option>
                                    <option value="">Выбрать 2</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6">
                            <div class="form_group">
                                <label for="">Наличие</label>
                                <select name="" id="">
                                    <option value="">Выбрать </option>
                                    <option value="">Выбрать 2</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6">
                            <div class="form_group">
                                <label for="">Стоимость</label>
                                <input type="text" value="23 800">
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6">
                            <div class="form_group">
                                <label class="hide_text">hide_text</label>
                                <select name="" id="">
                                    <option value="">Долларов США</option>
                                    <option value="">Долларов США 2</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form_group dogovor">
                                <input type="checkbox" id="dfgt">
                                <label for="dfgt">Договорная</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form_group">
                        <label for="">Описание <span>*</span></label>
                        <textarea name="" id="" cols="30" rows="10"></textarea>                    
                    </div>
                </div>
            </div>
            <hr>
            <div class="upd_new">
                <h5>Фотографии объявления</h5>
                <p>Объявления с фото получают в среднем в 3-5 раз больше откликов. Первое изображение будет являть основным фото вашего объявления</p>
                <div class="row form-group upload-photo">
                    <div class="col-6 col-xl-2 col-lg-2">
                        <label class="uploadPreview" for="file1">
                            <input type="file" id="file1" accept="image/*">
                            <span class="img-uploader">
                                <div class="pl">+</div>   
                            </span>
                        </label>
                        <span class="remove-image">+</span>
                    </div>
                    <div class="col-6 col-xl-2 col-lg-2">
                        <label class="uploadPreview" for="file2">
                            <input type="file" id="file2" accept="image/*">
                            <span class="img-uploader">
                                <div class="pl">+</div>   
                            </span>
                        </label>
                        <span class="remove-image">+</span>
                    </div>
                    <div class="col-6 col-xl-2 col-lg-2">
                        <label class="uploadPreview" for="file3">
                            <input type="file" id="file3" accept="image/*">
                            <span class="img-uploader">
                                <div class="pl">+</div>   
                            </span>
                        </label>
                        <span class="remove-image">+</span>
                    </div>
                    <div class="col-6 col-xl-2 col-lg-2">
                        <label class="uploadPreview" for="file4">
                            <input type="file" id="file4" accept="image/*">
                            <span class="img-uploader">
                                <div class="pl">+</div>   
                            </span>
                        </label>
                        <span class="remove-image">+</span>
                    </div>
                    <div class="col-6 col-xl-2 col-lg-2">
                        <label class="uploadPreview" for="file5">
                            <input type="file" id="file5" accept="image/*">
                            <span class="img-uploader">
                                <div class="pl">+</div>   
                            </span>
                        </label>
                        <span class="remove-image">+</span>
                    </div>
                    <div class="col-6 col-xl-2 col-lg-2">
                        <label class="uploadPreview" for="file6">
                            <input type="file" id="file6" accept="image/*">
                            <span class="img-uploader">
                                <div class="pl">+</div>   
                            </span>
                        </label>
                        <span class="remove-image">+</span>
                    </div>
                </div>
            </div>
            <hr>
            <div class="axel">
                <a href="#">Предпросмотр</a>
                <a href="#">Разместить объявление</a>
            </div>
        </div>
    </div>
    <div class="about_benefits">
        <div class="container">
            <p>У каждого сельскохозяйственного производителя немало хлопот. Кроме круглогодичной заботы о растениях, животных, встают проблемы с реализацией выращенной продукции. Специфика этих товаров заключается в необходимости срочной реализации, где отлично может помочь торговая площадка а именно доска объявлений.  Не всегда удается оперативно найти покупателя, выгодно продать товар. Наша доска агро объявлений Узбекистана поможет каждому аграрию и сельскому хозяйству максимально быстро продать свою продукцию.</p>
        </div>
    </div>
    <footer>
        <div class="ftr_top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-6">
                        <a href="#" class="mb_wi"><img src="images/logo_white.png" alt=""></a>
                    </div>
                    <div class="col-lg-3 col-md-6 ots col-6">
                        <p>Доступно для скачивания</p>
                        <div class="foot_link">
                            <a href="#"><img src="images/app_store.png" alt=""></a>
                            <a href="#"><img src="images/google_play.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 ots col-6">
                        <p>Принимаем к оплате</p>
                        <div class="foot_link">
                            <a href="#"><img src="images/payme.png" alt=""></a>
                            <a href="#"><img src="images/click.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-6 text-right">
                        <a href="#">Помощь</a>
                        <a href="#">Написать администратору</a>
                        <a href="#">Размещение рекламы </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="ftr_bottom">
            <div class="container">
                <p>Agro Uzbekistan © 2018</p>
            </div>
        </div>
    </footer>



{% include 'js.html' %}
    <script>


    </script>
</body>
</html>
