<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="font/stylesheet.css">
    <link rel="stylesheet" href="css/lightslider.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/select2.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/media.css">
    <title>Payment</title> 
</head>
 
<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-xs-6 col-6">
                     <a href="#" class="logo">
                        <img src="images/logo.png" alt="">
                    </a>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12 d-flex align-items-center justify-content-between mob_menu">
                    <ul class="nav">
                        <li class="active"><a href="#">Товары и услуги</a></li>
                        <li><a href="#">Закупки</a></li>
                        <li><a href="#">Продавцы</a></li>
                        <li><a href="#">Покупатели</a></li>
                    </ul>
                    <a href="#" class="add_advert"><img src="images/plus_circle.png" alt="">Добавить объявление</a>
                    <a href="#" class="add_advert"><img src="images/user.png" alt="">Вход / Регистрация</a>
                </div>
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </header>
    <div class="add_plus">
        <div class="container">
            <div class="links_top">
                <a href="index.html">Главная</a>
                <a href="#">Профиль пользователя</a>
            </div>
            <div class="d-flex justify-content-between alfon">
                <div class="univ d-flex align-items-center">
                    <div class="img_un">
                        <img src="images/logo_user.png" alt="">
                    </div>
                    <div class="text_un">
                        <h1>Universal Texnika HK</h1>
                        <p>Руслан Хасанов</p>
                        <a href="#">Изменить данные</a>
                    </div>
                </div>
                <div class="schet">
                    <p>Ваш счет:<b> 18000 сум</b></p>
                    <a href="#" class="popol"><img src="images/plus_circle.png" alt="">Пополнить</a>
                </div>

            </div>
        </div>
    </div>
    <div class="payment">
        <div class="container">
            <h2>Мы очень рады, что вы пользуютесть платными услугами нашей площадки. <br>Пожалуйста выберите метод оплаты</h2>
            <div class="d-flex opl justify-content-between">
                <a href="#">
                    <img src="images/pp.jpg" alt="">
                    <p>Payme - оплата с помощью карты</p>
                </a>
                <a href="#">
                    <img src="images/cc.jpg" alt="">
                    <p>Click.uz система оплаты</p>
                </a>
                <a href="#">
                    <img src="images/tt.jpg" alt="">
                    <p>Оплата на местах</p>
                </a>
            </div>
        </div>
    </div>
   <div class="about_benefits">
        <div class="container">
            <p>У каждого сельскохозяйственного производителя немало хлопот. Кроме круглогодичной заботы о растениях, животных, встают проблемы с реализацией выращенной продукции. Специфика этих товаров заключается в необходимости срочной реализации, где отлично может помочь торговая площадка а именно доска объявлений.  Не всегда удается оперативно найти покупателя, выгодно продать товар. Наша доска агро объявлений Узбекистана поможет каждому аграрию и сельскому хозяйству максимально быстро продать свою продукцию.</p>
        </div>
    </div>
    <footer>
        <div class="ftr_top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-6">
                        <a href="#" class="mb_wi"><img src="images/logo_white.png" alt=""></a>
                    </div>
                    <div class="col-lg-3 col-md-6 ots col-6">
                        <p>Доступно для скачивания</p>
                        <div class="foot_link">
                            <a href="#"><img src="images/app_store.png" alt=""></a>
                            <a href="#"><img src="images/google_play.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 ots col-6">
                        <p>Принимаем к оплате</p>
                        <div class="foot_link">
                            <a href="#"><img src="images/payme.png" alt=""></a>
                            <a href="#"><img src="images/click.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-6 text-right">
                        <a href="#">Помощь</a>
                        <a href="#">Написать администратору</a>
                        <a href="#">Размещение рекламы </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="ftr_bottom">
            <div class="container">
                <p>Agro Uzbekistan © 2018</p>
            </div>
        </div>
    </footer>



    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/select2.min.js"></script>
    <script src="js/cleave-phone.uz.js"></script>
    <script src="js/cleave.min.js"></script>
    <script src="js/jquery.ellipsis.js"></script>
    <script src="js/all.min.js"></script>
    <script src="js/lightslider.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
    <script>
          
          $('#imageGallery').lightSlider({
                gallery:true,
                item:1,
                loop: false,
                thumbItem:6,
                slideMargin:0,
                enableDrag: true,
                currentPagerPosition:'left',
                onSliderLoad: function(el) {
                    el.lightGallery({
                        selector: '#imageGallery .lslide'
                    });
                }
            });  


    </script>
</body>
</html>
